serverUrl=http://server:8111/
name=
workDir=/home/teamcity/work
tempDir=/home/teamcity/temp
systemDir=/home/teamcity/system
teamcity_logs=/home/teamcity/logs
ownPort=9090
authorizationToken=
env.ANDROID_HOME=/opt/android-sdk
